body {
    font-family: 'Poppins', sans-serif;
    background-color:antiquewhite;
}

.logo-empresa {
    position: fixed;
    top: 150px;
    left: 450px;
    z-index: -1;
    width: 28%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

main {
    padding: 25px;
}

.logo-empresa {
    height: 50%;
}

.roupa-masculina {
    width: 300px;
    height: 300px;
}

.roupa-feminina {
    height: 300px;
    padding: 20px;
}

.descricao-masculina {
    padding: 30px;
}

.descricao-feminina {
    padding-top: 70px;
    padding-left: 94px;
}

.conteudo-masculino {
    display: flex;
    gap: 40px;
}

.conteudo-feminino {
    display: flex;
    gap: 40px;
}

